<!DOCTYPE html>
<html style="height: 100%;">
  <head>
    <title>Flask Template Example</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
  </head>
  <body style="height: 100%;">
    <div style="width: 100%; height: 100%;display: flex;flex-direction: column;align-items: center" class="android-content mdl-layout__content">
      <h1>Vigenere Cracker</h1>
      <div>
        <textarea cols="100" rows="15" id="cipher-text"></textarea>
        <br>
        <div style="display: flex; flex-direction: row;justify-content: flex-end;" >
          <button id="crack-button" style="margin:0;" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored">
            <i class="material-icons">lock_open</i>
          </button>
        </div>
      </div>
      <div id="loader" style="width: 150px;height: 150px; display: none" class="mdl-spinner mdl-js-spinner is-active"></div>
      <div id="data-holder" style="display: none">
        <h4><b>Key: </b><span id="key"></span></h4>
        <p style="max-width: 723px;word-wrap: break-word;"><b>Plain text:</b>
          <span id="plain-text">
          </span>
        </p>
      </div>
    </div>
  </body>
  <script>
    const loader = document.getElementById('loader');
    const textarea = document.getElementById('cipher-text');
    const button = document.getElementById('crack-button');
    const plainText = document.getElementById('plain-text');
    const key = document.getElementById('key');
    const dataHolder = document.getElementById('data-holder');
    button.addEventListener('click', async (event) => {
      loader.style.display = 'block';
      dataHolder.style.display = 'none';
      if (textarea.value.length > 0) {
        const response = await fetch('/crack', {
          headers: {
            'Accept': 'application/json',
            'Content-Type': 'application/json'
          },
          method: 'post',
          body: JSON.stringify({
            cipher_text: textarea.value,
          })
        });
        const data = await response.json();
        loader.style.display = 'none';
        plainText.innerText = data.plainText;
        key.innerText = data.key;
        dataHolder.style.display = 'block';
      }
    });
  </script>
</html>